.flights-list {
    .flight-section-title {
        font-size: 1.05rem;
        margin-bottom: 10px;
    }
}

.flights-list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    .flight-item {
        @include card();
        width: 31%;
        padding: 20px;
        margin-bottom: 30px;

        & > div {
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }

        .flight-locations {
            .locations {
                display: flex;
                justify-content: space-between;
                height: fit-content;

                .location {
                    height: 100%;
                    width: 49%;
                }
            }
            
            .location {
                border: 1px solid var(--gray-1);
                border-radius: 5px;
                background-color: var(--white-1);
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
                
                & > p {
                    span {
                        display: block;
                        &:last-of-type {
                            color: var(--blue-1);
                            margin-top: 4px;
                        }
                    }
                }
                
                &.location-from {
                    & > div {
                        transform: rotate(-30deg);
                        opacity: 0.9;
                    }
                }

                &.location-to {
                    & > div {
                        transform: rotate(30deg);
                    }
                }
                & > div {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.flights-list {
    .flight-item {
        .flight-date {
            .dates {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;

                .date {
                    border: 1px solid var(--gray-1);
                    border-radius: 5px;
                    background-color: var(--white-1);
                    padding: 10px;
                    width: 48%;
                    span {
                        display: block;
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: 0.9rem;
                        &:not(:last-of-type) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .flight-duration {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                ion-icon {
                    display: block;
                    font-size: 1rem;
                    margin-right: 3px;
                    opacity: 0.9;
                }
            }
        }
    }
}


.flights-list {
    .flight-item {
        .flight-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .flight-price {
                display: flex;
                flex-direction: column;
                align-items: center;
                .price {
                    font-weight: 500;
                    color: var(--blue-1);
                    font-size: 1.5rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.flights-list {
    .flight-item {
        .flight-company {
            display: flex;
            flex-direction: column;
            align-items: center;
            .flight-company-img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid var(--gray-1);
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            } 
        }
    }
}


.flight-details {
    @include card();
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px 30px 30px;
    position: relative;
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        background-color: var(--blue-1);
        border-radius: 5px 0 0 5px;
    }
}

.flight-details {
    .flight-location {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 1.2rem;

        &.single {
            text-align: center;
        }

        &.multi {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.flight-details {
    .flight-time {
        display: flex;
        align-items: center;
        
        .datetime {
            p {
                white-space: nowrap;
            }

            &:nth-of-type(1) {
                text-align: left;
            }
            &:nth-of-type(3) {
                text-align: right;
            }
        }
        
        .duration {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;
            
            & > div {
                position: relative;
                padding: 0 10px;
            }

            span {
                @include flexCenter();

                &.icon {
                    font-size: 1.7rem;
                    ion-icon {
                        margin-left: 2px;
                    }
                }
                &.content {
                    position: absolute;
                    top: 100%;
                    padding-top: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 0.9rem;
                    color: var(--gray-2);
                    white-space: nowrap;
                }
            }

            &::before, &::after {
                display: block;
                content: '';
                width: 100%;
                height: 2px;
                background: #000;
            }
        }
    }
}


.flight-details {
    .flight-action {
        max-width: 300px;
        margin: 50px auto 0;
    }
}