/* --------------------------------------------- */
/* ------------- Profile Wrapper  -------------- */
/* --------------------------------------------- */
.profile-wrapper {
    display: flex;
}

/* --------------------------------------------- */
/* ----------------- Dashboard ----------------- */
/* --------------------------------------------- */
.dashboard-wrapper {
    @include card();
    width: 100%;
    margin-left: 40px;
    height: fit-content;
}
