@mixin breakpointMax($breakpoint){
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin breakpointMin($breakpoint){
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin flexCenter($direction:row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin card() {
    background-color: var(--white);
    border: 1px solid var(--gray-1);
    border-radius: 5px;
}