:root {
  /* Font */
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  /* Colors */
  --white: #ffffff;
  --white-1: #fdfaf9;
  --gray: #808080;
  --gray-1: #dddddd;
  --gray-08: rgba(239, 239, 239, 0.8);
  --gray-09: rgba(180, 180, 180, 0.9);
  --black: #000000;
  --black-09: rgba(27, 26, 26, 0.9);
  --blue-1: #2562f4;
  --blue-2: #1546b7;
  --blue-3: #346ff8;
  --red-1: #cf2c2c;
  --red-2: #bc2323;
}

html {
  --color-text: var(--black-09);
  --canvas-bg: var(--white-1);
}

/* --------------------------------------------- */
/* ----------------- Media Query --------------- */
/* --------------------------------------------- */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Added */
a {
  text-decoration: none;
}

ion-icon {
  pointer-events: none;
}

button {
  outline: none;
  background: none;
  border: none;
}

input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ffffff inset !important;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.4;
}

button, input {
  font-family: inherit;
}

a {
  color: var(--blue-1);
}
a:not(.btn):hover {
  text-decoration: underline;
}

.bold {
  font-weight: 500;
}

.text-xs {
  font-size: 0.8rem;
}

.page-title {
  font-size: 2.3rem;
  margin-bottom: 30px;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--canvas-bg);
}

button, input {
  border: none;
}

button {
  cursor: pointer;
}

.main-content {
  padding-top: 85px;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------------------- */
/* ------------------- Header ------------------ */
/* --------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: var(--blue-2);
  border-bottom: 1px solid var(--gray-1);
  z-index: 5;
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------------------------------------------- */
/* ------------------- Logo -------------------- */
/* --------------------------------------------- */
.header .logo-wrapper a:link, .header .logo-wrapper a:visited {
  display: block;
  width: 55px;
  height: auto;
}
.header .logo-wrapper a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* --------------------------------------------- */
/* ------------------- Navbar ------------------ */
/* --------------------------------------------- */
.navbar {
  display: flex;
}

/* --------------------------------------------- */
/* --------------- Navbar Links List------------ */
/* --------------------------------------------- */
.navbar .navbar-links-list {
  display: flex;
  align-items: center;
}
.navbar .navbar-links-list .navbar-item:not(:first-of-type) {
  margin-left: 20px;
}
.navbar .navbar-links-list .navbar-item .navbar-link {
  transition: all 0.2s;
  text-decoration: none;
}
.navbar .navbar-links-list .navbar-item .navbar-link:link, .navbar .navbar-links-list .navbar-item .navbar-link:visited {
  color: var(--white);
  font-weight: 500;
  border: 2px solid transparent;
  padding-bottom: 3px;
}
.navbar .navbar-links-list .navbar-item .navbar-link:hover, .navbar .navbar-links-list .navbar-item .navbar-link:active {
  border-bottom: 2px solid var(--white);
}
.navbar .navbar-links-list .navbar-item .navbar-link.active {
  color: var(--gray-1);
  border-bottom: 2px solid var(--gray-1);
}

.form-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding-bottom: 30px;
}

.form {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  padding: 30px 20px;
}

.form .form-title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 30px;
}

.form .form-footer {
  margin-bottom: 20px;
}

.form .delete-form-block a {
  display: block;
  margin-bottom: 10px;
}
.form .delete-form-block p {
  margin-bottom: 20px;
}

.form-block {
  margin-bottom: 25px;
}
.form-block .field-errors {
  margin-top: 5px;
}
.form-block .field-errors p {
  color: var(--red-1);
}
.form-block .field-errors ul {
  margin-top: 5px;
}
.form-block .field-errors ul li {
  color: var(--blue-1);
  display: flex;
  align-items: center;
}
.form-block .field-errors ul li:not(:last-of-type) {
  margin-bottom: 5px;
}
.form-block label {
  display: block;
  margin-bottom: 8px;
}
.form-block label img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px auto 0;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.form-block input:not([type=file]) {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid var(--gray-1);
  background-color: var(--canvas-bg);
  padding: 0 5px;
}
.form-block input[type=file] {
  display: none;
}
.form-block .password-input-wrapper {
  position: relative;
}
.form-block .password-input-wrapper .password-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 35px;
  height: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  color: inherit;
  opacity: 0.8;
}
.form-block .password-input-wrapper .password-toggle:hover {
  opacity: 0.95;
}

.form-wrapper-inline .form {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.form-wrapper-inline .form .form-blocks {
  display: flex;
  margin-bottom: 20px;
}
.form-wrapper-inline .form .form-block {
  margin-bottom: 0;
}
.form-wrapper-inline .form .form-block:not(:last-of-type) {
  margin-right: 10px;
}

.form-wrapper-oneline {
  margin: 0 0 20px;
  max-width: 300px;
}
.form-wrapper-oneline .form-inline {
  display: flex;
}
.form-wrapper-oneline .form-inline input[type=submit] {
  width: 100px;
}
.form-wrapper-oneline .form-inline .form-block {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  margin-right: 8px;
}
.form-wrapper-oneline .form-inline .form-block input {
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
}

/* --------------------------------------------- */
/* ------------------- Button ------------------ */
/* --------------------------------------------- */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  transition: all 0.2s;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------------------------- */
/* --------------- Button Style ---------------- */
/* --------------------------------------------- */
.btn.btn-primary {
  background-color: var(--blue-1);
  border: 1px solid var(--white);
  color: var(--white);
}
.btn.btn-primary:hover, .btn.btn-primary:active {
  background-color: var(--blue-3);
}
.btn.btn-primary-underline {
  border-radius: unset;
  border-bottom: 2px solid transparent;
  color: var(--blue-1);
}
.btn.btn-primary-underline:hover, .btn.btn-primary-underline:active {
  border-bottom: 2px solid var(--blue-1);
}
.btn.btn-primary-outline {
  background-color: var(--white);
  border: 1px solid var(--blue-1);
  color: var(--blue-1);
}
.btn.btn-primary-outline:hover, .btn.btn-primary-outline:active {
  color: var(--white);
  background-color: var(--blue-3);
}
.btn.btn-danger {
  background-color: var(--red-2);
  color: var(--white);
}
.btn.btn-danger:hover, .btn.btn-danger:active {
  background-color: var(--red-1);
}
.btn.btn-danger-outline {
  border: 2px solid var(--red-1);
  background-color: var(--white);
  color: var(--red-1);
}
.btn.btn-danger-outline:hover, .btn.btn-danger-outline:active {
  color: var(--white);
  background-color: var(--red-1);
}

/* --------------------------------------------- */
/* ---------------- Button Size ---------------- */
/* --------------------------------------------- */
.btn.btn-xl {
  width: 100%;
  height: 40px;
}
.btn.btn-md {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
}
.btn.btn-sm {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
}
.btn.btn-xs {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
}

/* --------------------------------------------- */
/* ---------------- Display List --------------- */
/* --------------------------------------------- */
.display-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
}
.display-list .display-item {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
}
.display-list .display-item .display-link:link, .display-list .display-item .display-link:visited {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-decoration: none;
  min-width: 150px;
}
.display-list .display-item .display-link:link .display-image, .display-list .display-item .display-link:visited .display-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 7px;
}
.display-list .display-item .display-link:link .display-image img, .display-list .display-item .display-link:visited .display-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.display-list .display-item .display-link:link p, .display-list .display-item .display-link:visited p {
  text-align: center;
}
.display-list .display-item .display-link:link p.title, .display-list .display-item .display-link:visited p.title {
  font-weight: 500;
}
.display-list .display-item .display-link:link p:not(.title), .display-list .display-item .display-link:visited p:not(.title) {
  color: var(--color-text);
}
.display-list .display-item .display-link:link p:not(:last-of-type), .display-list .display-item .display-link:visited p:not(:last-of-type) {
  margin-bottom: 7px;
}

/* --------------------------------------------- */
/* --------------- Displayed Item -------------- */
/* --------------------------------------------- */
.displayed-item {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}
.displayed-item .displayed-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayed-item .displayed-item-info .displayed-item-image {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
}
.displayed-item .displayed-item-info .displayed-item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.displayed-item .displayed-item-info p.displayed-item-title {
  font-weight: 500;
  font-size: 1.5rem;
}
.displayed-item .displayed-item-info p:not(:last-of-type) {
  margin-bottom: 5px;
}
.displayed-item .displayed-item-links {
  margin-top: 20px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.messages-wrapper {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  opacity: 0.9;
}
.messages-wrapper .banner-alert {
  position: relative;
  padding: 15px 35px 15px 20px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
  animation-name: deactivateMessage;
  animation-duration: 0.2s;
  animation-delay: 4.7s;
  animation-fill-mode: forwards;
}
.messages-wrapper .banner-alert.deactive {
  transition: all 0.2s;
  opacity: 0;
  transform: translateY(-7px);
}
.messages-wrapper .banner-alert:not(:last-child) {
  margin-bottom: 30px;
}
.messages-wrapper .banner-alert .counter {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  animation: counter 5s forwards;
}
.messages-wrapper .banner-alert .close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
  font-size: 1.2rem;
  opacity: 0.9;
}
.messages-wrapper .banner-alert.message-info {
  background-color: #c8d2ed;
}
.messages-wrapper .banner-alert.message-info .counter {
  background-color: #40489b;
}
.messages-wrapper .banner-alert.message-success {
  background-color: #c8edd6;
}
.messages-wrapper .banner-alert.message-success .counter {
  background-color: #469b40;
}
.messages-wrapper .banner-alert.message-error {
  background-color: #edc8c8;
}
.messages-wrapper .banner-alert.message-error .counter {
  background-color: #9b4040;
}

/* --------------------------------------------- */
/* ------------------- Avatar ------------------ */
/* --------------------------------------------- */
.avatar-wrapper {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  max-width: 350px;
  padding: 25px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
.avatar-wrapper > div:not(:last-child) {
  margin-bottom: 20px;
}
.avatar-wrapper .avatar-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 10px;
  overflow: hidden;
}
.avatar-wrapper .avatar-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar-wrapper .avatar-info {
  text-align: center;
}
.avatar-wrapper .avatar-info p {
  white-space: nowrap;
}
.avatar-wrapper .avatar-info p:not(:last-of-type) {
  margin-bottom: 10px;
}
.avatar-wrapper .avatar-additional-info > p:not(:last-child) {
  margin-bottom: 5px;
}

.table-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.table {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-white);
  width: 100%;
}

.table td, .table th {
  text-align: left;
}
.table th {
  background-color: var(--blue-1);
  color: var(--white);
  font-weight: 500;
  padding: 15px 10px;
}
.table td {
  padding: 10px;
}
.table thead tr th,
.table tbody tr td {
  border: 1px solid var(--gray-1);
  white-space: nowrap;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-09);
  z-index: 5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
  z-index: 6;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.modal:hover .modal-header {
  transform: translateY(0);
}
.modal:hover .modal-header button {
  opacity: 1;
}
.modal .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: -50px;
  width: 100%;
  position: absolute;
  height: 50px;
  transform: translateY(100%);
  transition: all 0.2s;
  z-index: 5;
}
.modal .modal-header button {
  color: var(--white);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s;
}
.modal .modal-content {
  position: relative;
  z-index: 6;
}

.tab-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px 0;
}
.tab-btns button {
  margin: 0 10px;
}

.credit-card {
  position: relative;
  border: 1px solid;
  max-width: 320px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #141313, #2b191b, #454040);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.credit-card .card-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
}

.credit-card .card-bg {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.credit-card .card-bg img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.credit-card .card-header {
  margin-bottom: 10px;
}
.credit-card .card-header p {
  color: var(--white-1);
  font-size: 1.1rem;
}

.credit-card .card-graph img {
  max-width: 50px;
}

.credit-card .card-info {
  color: var(--white);
  margin-top: 10px;
}
.credit-card .card-info .card-number {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.credit-card .card-info .card-holder {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

.animate-up {
  transition: all 0.3s;
}
.animate-up:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 2px var(--gray-1);
}

.animate-fade-up {
  opacity: 0;
  animation: transform_fade 0.5s forwards;
}

@keyframes transform_fade {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes counter {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes deactivateMessage {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-7px);
  }
}
/* --------------------------------------------- */
/* ------------- Profile Wrapper  -------------- */
/* --------------------------------------------- */
.profile-wrapper {
  display: flex;
}

/* --------------------------------------------- */
/* ----------------- Dashboard ----------------- */
/* --------------------------------------------- */
.dashboard-wrapper {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  width: 100%;
  margin-left: 40px;
  height: -moz-fit-content;
  height: fit-content;
}

/* --------------------------------------------- */
/* ---------------- Actions List --------------- */
/* --------------------------------------------- */
.actions-list {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.actions-list h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.actions-list > li:not(:last-of-type) {
  margin-bottom: 25px;
}
.actions-list > li > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.actions-list > li > ul > li {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 55px;
  transition: all 0.2s;
}
.actions-list > li > ul > li:hover {
  border: 1px solid var(--blue-2);
}
.actions-list > li > ul > li > button {
  transition: all 0.2s;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  padding: 5px;
  background-color: var(--white-1);
  transition: all 0.2s;
}
.actions-list > li > ul > li > button span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.actions-list > li > ul > li > button .icon {
  font-size: 1.3rem;
  margin-right: 5px;
}
.actions-list > li > ul > li > button:hover, .actions-list > li > ul > li > button:active {
  color: var(--blue-2);
}

.flights-list .flight-section-title {
  font-size: 1.05rem;
  margin-bottom: 10px;
}

.flights-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.flights-list .flight-item {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  width: 31%;
  padding: 20px;
  margin-bottom: 30px;
}
.flights-list .flight-item > div:not(:last-of-type) {
  margin-bottom: 20px;
}
.flights-list .flight-item .flight-locations .locations {
  display: flex;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
.flights-list .flight-item .flight-locations .locations .location {
  height: 100%;
  width: 49%;
}
.flights-list .flight-item .flight-locations .location {
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  background-color: var(--white-1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flights-list .flight-item .flight-locations .location:not(:last-of-type) {
  margin-bottom: 10px;
}
.flights-list .flight-item .flight-locations .location > p span {
  display: block;
}
.flights-list .flight-item .flight-locations .location > p span:last-of-type {
  color: var(--blue-1);
  margin-top: 4px;
}
.flights-list .flight-item .flight-locations .location.location-from > div {
  transform: rotate(-30deg);
  opacity: 0.9;
}
.flights-list .flight-item .flight-locations .location.location-to > div {
  transform: rotate(30deg);
}
.flights-list .flight-item .flight-locations .location > div {
  font-size: 1.3rem;
}

.flights-list .flight-item .flight-date .dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.flights-list .flight-item .flight-date .dates .date {
  border: 1px solid var(--gray-1);
  border-radius: 5px;
  background-color: var(--white-1);
  padding: 10px;
  width: 48%;
}
.flights-list .flight-item .flight-date .dates .date span {
  display: block;
  margin-bottom: 7px;
}
.flights-list .flight-item .flight-date .dates .date p {
  font-size: 0.9rem;
}
.flights-list .flight-item .flight-date .dates .date p:not(:last-of-type) {
  margin-bottom: 5px;
}
.flights-list .flight-item .flight-date .flight-duration {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.flights-list .flight-item .flight-date .flight-duration ion-icon {
  display: block;
  font-size: 1rem;
  margin-right: 3px;
  opacity: 0.9;
}

.flights-list .flight-item .flight-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flights-list .flight-item .flight-footer .flight-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flights-list .flight-item .flight-footer .flight-price .price {
  font-weight: 500;
  color: var(--blue-1);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.flights-list .flight-item .flight-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flights-list .flight-item .flight-company .flight-company-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--gray-1);
  overflow: hidden;
}
.flights-list .flight-item .flight-company .flight-company-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=app.css.map */